.multilan { background: url('images/flags_16.png') no-repeat top left; width: 16px; height: 16px;
display: inline-block; margin-right:5px; vertical-align:middle  }
.multilan.flag-ba { background-position: 0 0; }
.multilan.flag-bg { background-position: 0 -26px; }
.multilan.flag-cn { background-position: 0 -52px; }
.multilan.flag-cs { background-position: 0 -78px; }
.multilan.flag-cy { background-position: 0 -104px; }
.multilan.flag-da { background-position: 0 -130px; }
.multilan.flag-de { background-position: 0 -156px; }
.multilan.flag-el { background-position: 0 -182px; }
.multilan.flag-en { background-position: 0 -208px; }
.multilan.flag-gb { background-position: 0 -234px; }
.multilan.flag-es { background-position: 0 -260px; }
.multilan.flag-et { background-position: 0 -286px; }
.multilan.flag-fa { background-position: 0 -312px; }
.multilan.flag-fi { background-position: 0 -338px; }
.multilan.flag-fr { background-position: 0 -364px; }
.multilan.flag-ga { background-position: 0 -390px; }
.multilan.flag-hi { background-position: 0 -416px; }
.multilan.flag-hr { background-position: 0 -442px; }
.multilan.flag-hu { background-position: 0 -468px; }
.multilan.flag-id { background-position: 0 -494px; }
.multilan.flag-il { background-position: 0 -520px; }
.multilan.flag-is { background-position: 0 -546px; }
.multilan.flag-it { background-position: 0 -572px; }
.multilan.flag-ja { background-position: 0 -598px; }
.multilan.flag-ko { background-position: 0 -624px; }
.multilan.flag-lt { background-position: 0 -650px; }
.multilan.flag-lv { background-position: 0 -676px; }
.multilan.flag-mn { background-position: 0 -702px; }
.multilan.flag-ne { background-position: 0 -728px; }
.multilan.flag-nl { background-position: 0 -754px; }
.multilan.flag-no { background-position: 0 -780px; }
.multilan.flag-pl { background-position: 0 -806px; }
.multilan.flag-pt { background-position: 0 -832px; }
.multilan.flag-ro { background-position: 0 -858px; }
.multilan.flag-ru { background-position: 0 -884px; }
.multilan.flag-sk { background-position: 0 -910px; }
.multilan.flag-sl { background-position: 0 -936px; }
.multilan.flag-sv { background-position: 0 -962px; }
.multilan.flag-th { background-position: 0 -988px; }
.multilan.flag-tr { background-position: 0 -1014px; }
.multilan.flag-tw { background-position: 0 -1040px; }
.multilan.flag-uk { background-position: 0 -1066px; }
.multilan.flag-ur { background-position: 0 -1092px; }
.multilan.flag-us { background-position: 0 -1118px; }
.multilan.flag-vi { background-position: 0 -1144px; }